# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/gr_test/v15/.suo
*.db
*.opendb
*.ipch
*.ilk
x64/Debug/gr_test.log
x64/Debug/gr_test.pdb
*.tlog
x64/Debug/vc141.pdb
Debug/gr_test.log
Debug/vc141.idb
Debug/vc141.pdb
graph.txt
Release/vc141.pdb
x64/Debug/gr_test.Build.CppClean.log
x64/Release/dgraph.bin
x64/Release/dgraph.txt
x64/Release/gr_test.Build.CppClean.log
x64/Release/gr_test.log
x64/Release/gr_test.pdb
x64/Release/graph.bin
dgraph.bin
dgraph.txt
graph.bin

